@keyframes fadeInOut{
    0% {
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes locationUp{
    from {
        transform: translateY(100px);
        visibility: hidden;
    }

    to{
        transform: translateY(0px);
        visibility: visible;
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
        /* transform: scaleY(1); */
    }
    to{
        opacity: 1;
        /* transform: scaleY(1); */
    }
}