/* //기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다. 
// 가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용)  */

body{
    background-color: purple;
}

@media (min-width: 576px) { 
    
 } 
 
/* // 태블릿 디바이스 (가로 해상도가 768px 보다 큰 화면에 적용)  */
@media (min-width: 768px) { 
    
 } 
 
/* // 테스크탑 (가로 해상도가 992px 보다 큰 화면에 적용)  */
@media (min-width: 992px) { 
    
 } 
 
/* // 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용)  */
@media (min-width: 1200px) { 
    
 }